
body{
    font-size: 20px;
    font-family: sans-serif
}

table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
  }

  td{
    padding: 16px;
  }


  tr:nth-child(even) {
    background-color: #cdcbcb;
  }